@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

//define theme colors
$themeDark: '[theme:themeDark, default:#005a9e]'; // used to be #143f91;
$themePrimary: '[theme:themePrimary, default:#0078d7]'; // used to be #117FCA;
$themeSecondary: '[theme:themeSecondary, default:#2b88d8]';
$themeTertiary: '[theme:themeTertiary, default:#a6a6a6]';
$themeLight: '[theme:themeLight, default:#99BFCC]';
$themeLighter: '[theme:themeLighter, default:#C7DFEB]';
$themeWhite: '[theme:white, default:#fff]';

.slickmodal {

  font-family: Arial, Helvetica, sans-serif;
  width: 640px;
  height: 480px;
  color: #000;
  padding: 10px;

  h2 {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    cursor: pointer;
  }

  table {
    background-color: $themeDark;
    border-spacing: 1px;
    width: 100%;
    margin-top: 6px;
  }
  
  table th {
    font-size: 1em;
    font-weight: normal;
    color: $themeWhite;
    background-color: $themeTertiary;
    padding: 5px;
    white-space: nowrap;
    width: 1%;
  }

  table td {
    background-color: $themeWhite;
    padding: 4px;
    white-space: nowrap;
  }

}
