@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

//define theme colors
$themeDark: '[theme:themeDark, default:#005a9e]'; // used to be #143f91;
$themePrimary: '[theme:themePrimary, default:#0078d7]'; // used to be #117FCA;
$themeSecondary: '[theme:themeSecondary, default:#2b88d8]';
$themeTertiary: '[theme:themeTertiary, default:#3366CC]';
$themeLight: '[theme:themeLight, default:#99BFCC]';
$themeLighter: '[theme:themeLighter, default:#C7DFEB]';
$themeWhite: '[theme:white, default:#fff]';

.slicklist {

    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    width: 99%;
    margin: 0 auto; // margin-bottom: 800px;
    padding: 8px;

    //filter: drop-shadow(0 0 0.25rem #666);
    a {
        text-decoration: none;
        color: "[theme:link, default:#03787c]";
        color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

        &:hover {
            text-decoration: underline;
            color: "[theme:linkHovered, default: #014446]";
            color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
        }
    }

    table {
        background-color: $themeDark;
        border-spacing: 1px;
        width: 100%;
    }

    table th {
        font-size: 1em;
        font-weight: normal;
        color: $themeWhite;
        background-color: $themeSecondary;
        padding: 8px;
        white-space: nowrap;
        text-align: center;
    }

    table td {
        font-size: 1em;
        background-color: $themeWhite;
        padding: 4px;
        white-space: nowrap;
    }

    tbody tr {
        background-color: $themeWhite;
    }

    tbody tr:hover td {
        background-color: $themeLighter !important;
        background-blend-mode: multiply;
    }

    tfoot th, .title th {
        background-color: $themeDark;
        font-size: 1.2em;
        padding: 8px;
        position: relative;
    }

    .fields th {
        margin: 0;
        padding: 0;
    }

    input,
    select {
        width: 100%;
        height: 2em;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: $themeWhite;
        border: none;
        padding: 5px;
    }

    ::placeholder {
        color: gray;
        text-align: center;
    }

    ::-ms-input-placeholder {
        color: gray;
        text-align: center;
    }

    .warm {
        background-color: #feffcc;
    }

    .grouping2 td {
        background-color: #eeeeee;
    }

    .warning {
        background-color: #fce4ec;
    }

    .totop {
        display: inline-block;
        position: absolute;
        white-space: nowrap;
        left: 0;
        padding-left: 10px;
    }

}

.slickmodal {

    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    width: 640px;
    color: #000;
    display: flex;
    padding: 8px;

    header {
        background-color: $themeWhite;
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 1;
        padding-bottom: 3px;
    }

    h2 {
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", sans-serif;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }

    button {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    table {
        background-color: $themeDark;
        border-spacing: 1px;
        width: 100%;
    }

    table th {
        font-size: 1em;
        font-weight: normal;
        padding: 5px;
        white-space: nowrap;
        width: 25%;
    }

    table th, table td {
        background-color: white;
        color: #000;
        padding: 5px;
    }

    table tbody th {
        opacity: .9;
    }

    table tbody td {
        opacity: .95;
    }

    table tfoot th {
        opacity: .8;
    }

    table tfoot td {
        opacity: .85;
    }
}

:global {

    .pcursor {
        cursor: pointer;
    }

    .dcursor {
        cursor: default;
    }

    .mark {
        text-align: center;
        width: 1%;
    }

    .mark:empty {
        background-color: #eeeeee !important;
    }

    .hideFromMobile,
    .hideFromTablet,
    .hideFromDesktop {
        display: none;
    }

    @media screen and (min-width: 768px) //tablet

        {
        .hideFromMobile {
            display: table-cell;
        }
    }

    @media screen and (min-width: 1200px) //laptop

        {
        .hideFromTablet {
            display: table-cell;
        }
    }
}